.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  background-color: #fff;
  box-shadow: -10px 5px 100px #000;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: relative;
}

.side-nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-nav li {
  margin: 0.5rem 0;
}

.side-nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.bar {
  display: none;
}

.show-nav {
  display: flex;
  animation: display 1s forwards;
}

.hide-nav {
  display: flex;
  animation: hide 1s forwards;
}

@keyframes display {
  from {
    opacity: 0;
    z-index: -10;
    left: 100%;
  }

  to {
    opacity: 1;
    z-index: 40;
    left: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    z-index: 40;
    left: 0;
  }

  to {
    opacity: 0;
    z-index: -10;
    left: 100%;
  }
}

@media screen and (max-width: 767px) {
  .bar {
    cursor: pointer;
    display: inline;
    position: fixed;
    z-index: 50;
    width: 20px;
    height: 40px;
    color: #fff;
    background-color: hsl(335, 57%, 24%);
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 50%;
    top: 85%;
    left: 85%;
  }

  .bar:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: hsl(335, 57%, 40%);
  }
}

@media screen and (max-width: 575px) {
  .main-container {
    max-width: 575px;
    box-shadow: none;
  }

  .bar {
    left: 75%;
  }
}

@media screen and (max-width: 300px) {
  .main-container {
    max-width: 300px;
  }
}
