.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.nav li {
  list-style: none;
  padding: 0 0.75rem;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder;
}

.nav li a:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .nav li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
