.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

.form-container h2 {
  font-size: 2rem;
  color: #5f1a37;
  margin: 2rem 0 0 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .form-container h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  .form-container {
    min-width: 225px;
    max-width: 275px;
  }
}
