.card {
  max-width: 340px;
  max-height: 420px;
  box-sizing: border-box;
  background-color: #4163e0;
  box-shadow: -1px -1.6px 3.6px rgba(0, 0, 0, 0.7),
    0 4.4px 10px rgba(0, 0, 0, 0.015), 0 10.6px 24.1px rgba(0, 0, 0, 0.02),
    0 35px 80px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  margin: 10px;
  border-radius: 15px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.card_img {
  border-radius: 15px 15px 0 0;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.content h4 {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #5f1a37;
  font-size: 1.7rem;
}

.content p {
  height: 100px;
  text-align: start;
  color: #fff !important;
  font-size: 1.1rem;
  overflow: auto;
}

@media screen and (max-width: 767px) {
  .card:hover {
    transform: none;
  }
}

@media screen and (max-width: 575px) {
  .card {
    max-width: 300px;
    max-height: 390px;
  }
}
