.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

.form-group {
  margin: 10px 0;
  width: 100%;
}

.form-header {
  color: #5f1a37;
  margin: 0;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-row span {
  color: #3e87d6;
  font-size: 2rem;
}

.form-item {
  margin: 0 10px;
}

.form-item-stretch {
  flex-basis: 100%;
}

.form-day-month {
  min-width: 47px !important;
}

.form-year {
  min-width: 70px !important;
}

.form label {
  color: #3e87d6;
}

.form input,
.form textarea,
.form select {
  box-sizing: border-box;
  color: #4163e0; /* Text Area Color*/
  font-size: 1.1rem;
  width: 100%;
  min-height: 50px;
  padding: 15px;
  border: 1px solid #3e87d6; /* Border Box */
  border-radius: 15px;
  outline: none;
  margin: 13px 0 0 0;
  -webkit-appearance: none;
  -webkit-border-radius: none;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
  color: #5f1a37;
  border: 1px solid #5f1a37; /* Border Box Clicked/Focus*/
  background-color: rgba(95, 26, 55, 0.2); /* Border color just faded out */
}

.form input::placeholder,
.form textarea::placeholder {
  color: rgba(62, 135, 214, 0.6); /* Place Holder */
  font-size: 1.1rem;
}

.form textarea {
  resize: none;
  height: 150px;
}

.counter {
  flex-basis: 10%;
  text-align: end;
  color: #3e87d6;
}

.invalid {
  border: 1px solid red; /* Border Box Clicked/Focus*/
  background-color: rgba(255, 0, 0, 0.2);
}

.errorMessage {
  color: red;
  margin: 10px 0 0 0;
  font-size: 1.1rem;
}

.errorHeader {
  margin-top: 0;
  color: #5f1a37;
}

.circle {
  display: inline-block;
  background-color: #3e87d6;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  border-radius: 25px;
}

.loader {
  height: 50px;
  margin-top: 50px;
}

.ball-1 {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.ball-2 {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.ball-3 {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(23px);
  }
  60% {
    transform: translateY(-25px);
  }
  80% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 575px) {
  .form {
    padding: 2rem 0;
  }

  .form-row {
    flex-direction: column;
  }

  .form-row span {
    display: none;
  }

  .form-item {
    width: 100%;
    margin: 0;
  }

  .counter {
    margin: 0.8rem 0 0.5rem 0;
  }

  .loader {
    text-align: center;
  }

  .errorHeader {
    text-align: center;
  }
}
